build/
migrations/
node_modules/

# asdf
.tool-versions

# hardhat
artifacts
cache
deployments/hardhat
deployments/local
deployments/devchain
typechain-types

# IDEA
.idea

 #decrypted environment configs
.env.staging
.env.alfajores
.env.mainnet
.env

#devchain
db
